/* BOILERPLATE, FONTS and VARIABLES */
:root {
  --light-blue: hsl(225, 80%, 90%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(245, 83%, 20%);
  --desaturated-blue: hsl(233, 84%, 77%);
  --very-light-gray: #f5f5f5;
  --light-gray: #eaeaea;
  --gray: #e1e1e1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: var(--dark-blue);
}

a,
a:visited {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

li {
  width: 100%;
}

/* Helper Classes */
#filtering {
  color: white;
  font-size: 1rem;
}

.filtering-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1rem;
}

input[type="checkbox"] {
  height: 1.3rem;
  width: 1.3rem;
  padding: 0.1rem;
  margin-top: 0.4rem;
}

.hide {
  visibility: hidden;
}

.pos-relative {
  position: relative;
}

.pos-fixed {
  position: fixed;
}

.full-size {
  height: 100vh;
  width: 100vw;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 0.9rem;
}
/* MAIN COMPOSITION */
.screen {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  position: relative;
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  width: 60rem;
  height: 40rem;
  border-radius: 0.5rem;
  overflow: auto;
}

.container-pushed-bottom {
  margin-top: 1.5rem;
}

.container-slim {
  width: 40rem;
}

.heading {
  color: var(--very-light-gray);
  background-color: var(--bright-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.3rem;
  height: 4.5rem;
  cursor: default;
  font-size: x-large;
}

.heading-spaced {
  letter-spacing: 0.2rem;
}

.body {
  overflow: hidden;
  height: 100%;
  font-size: 1.05rem;
}

.navigation {
  color: var(--very-light-gray);
  background-color: var(--bright-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 3rem;
}

/* BUTTONS */

.button {
  cursor: pointer;
  color: var(--dark-blue);
  text-align: center;
  background-color: var(--light-blue);
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: transform 300ms ease-in-out;
}

.button-warning {
  background-color: var(--desaturated-blue);
  border: none;
}

.button:hover {
  transform: scale(1.1);
}

.button-nav {
  background-color: var(--bright-blue);
  color: var(--very-light-gray);
  width: 6.5rem;
  border: 1px solid var(--very-light-gray);
}

/* ARTICLE LIST */
.article-list {
  display: flex;
  flex-direction: column;
}

li:nth-child(2n) {
  background: var(--gray);
}

li:nth-child(2n + 1) {
  background: var(--light-gray);
}

.article {
  padding: 0.3rem 3rem;
  display: flex;
  align-items: center;
  height: 3.2rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.article-nameholder::first-letter {
  text-transform: uppercase;
}

.article:hover {
  cursor: default;
}

.article-name {
  max-width: 10rem;
}

.article-buttons {
  display: flex;
  gap: 1rem;
}

.paginator {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--very-light-gray);
}

/*ARTICLES POPUP*/
.popup {
  position: absolute;
  transition: all 0.15s ease-in;
  opacity: 0;
  left: 50%;
  top: 50%;
  width: 20rem;
  transform: translate3d(-50%, -52%, 0);
  background: var(--light-blue);
  border-radius: 0.4rem;
}

.popup > .heading {
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.popup > .body {
  height: 10rem;
}

.popup > .navigation {
  padding: 0 2rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.create-article-form {
  text-align: center;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
  flex-direction: column;
  align-items: center;
}

.create-article-form > input[type="text"] {
  transition: color 300ms ease-in-out;
  font-size: 1rem;
  width: 14rem;
  text-align: center;
  padding: 0.2rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--desaturated-blue);
}

.create-article-form > input[type="text"]:focus-visible {
  outline: none;
  border: 0.1rem solid var(--bright-blue);
}

.button-create {
  position: absolute;
  top: 16rem;
  left: 11.5rem;
}

/* ARTICLE DETAIL */
.article-content {
  padding: 1rem;
}

/*ARTICLE EDIT*/
.edit-article-form {
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.article-edit-name,
.article-edit-content {
  border: 0.1rem solid var(--dark-blue);
  padding: 0.5rem;
  min-height: 2rem;
  border-radius: 0.4rem;
}

.button-save-edit {
  position: absolute;
  top: 36.9rem;
  left: 31rem;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 64rem) {
  .container {
    width: 40rem;
  }
}

@media only screen and (max-width: 44rem) {
  .container {
    width: 30rem;
  }
  .article {
    padding: 0.4rem;
  }
  .button {
    font-size: 0.8rem;
  }
  .article-nameholder {
    font-size: 0.9rem;
  }
  .navigation {
    padding: 0.4rem;
  }
  .button-nav {
    font-size: 0.8rem;
    width: 5rem;
  }

  .button-create {
    left: 13rem;
  }
  .button-save-edit {
    left: 24.5rem;
  }
}

@media only screen and (max-width: 32rem) {
  .container {
    width: 22rem;
  }
  .button-save-edit {
    left: 16.5rem;
  }
}
